<% @lobby.players.each do |player| %>
  <div class="block">
    <%= player.name %> - <%= player.host %>
  </div>
<% end %>

<%= button_to "Leave Lobby", player_path(id: Current.player.id), method: :delete, class: "text-red-500" %>
