<div class="flex-1 p-3 flex flex-col justify-center items-center gap-10 h-full">
	<% if game.started? %>
		<%= render partial: "games/started", locals: { game: game, player: player } %>
	<% elsif game.ended? %>
		<%= render partial: "games/ended", locals: { game: game, player: player } %>
	<% else %>
		<%= render partial: "games/waiting", locals: { game: game, player: player } %>
	<% end %>
</div>
