<%= turbo_frame_tag "#{dom_id(player)}_ready_status" do %>
	<% if player.ready? %>
		<p class="text-sm text-green-500">Ready</p>
	<% else %>
		<p class="text-sm text-red-500">Not Ready</p>
	<% end %>
<% end %>
