/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

audio::-webkit-media-controls-panel {
  background-color: #ffe4e6;
}

.selected-song {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #fff1f2;
}

.word {
  margin-right: 0.4em;
}

.letter {
  margin-right: 0.2em;
}

.trail {
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}

.trail::after,
.trail::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 50px;
  aspect-ratio: 1;
  animation: loop 2s infinite linear;
  offset-anchor: 100% 50%;
  offset-path: rect(0 100% 100% 0 round 100px);
  offset-path: rect(0 100% 100% 0 round 50px);
}

.trail-rose::after,
.trail-rose::before {
  background: radial-gradient(circle at right, #ffffffbf, transparent 50%),
    radial-gradient(circle at right, #e11d48 50%, transparent);
}

.trail-blue::after,
.trail-blue::before {
  background: radial-gradient(circle at right, #ffffffbf, transparent 50%),
    radial-gradient(circle at right, #2563eb 50%, transparent);
}

@keyframes loop {
  to {
    offset-distance: 100%;
  }
}
